@page "/"

<PageTitle>Index</PageTitle>
<img src="https://noticiapreta.com.br/wp-content/uploads/2021/04/Mussum-4.jpg" alt="Alternate Text" />

<h1> Felipe miguel</h1>

<h3>   </h3>

<SurveyPrompt Title="How is Blazor working for you?" />