@page "/Sobre"

<PageTitle>Sobre</PageTitle>

<h1>sobre felipe miguel</h1>


<h2>Nome:Felipe Miguel</h2>
<h5>Tenho 17 anos,estou cursando informatica no ifro e estou no terceiro ano do ensino medio,pretendo me forma em medicina veterinaria porte grande e  atuar como  cirurgião geral e pretendo atuar aqui em ji-parana mesmo.</h5>

